* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: #f08080;
    font-family: 'Fredoka One', cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
/*.big{
    background: #f08080; 
    opacity: 0.5;
    padding: 2rem;
    border-radius: 30px;
    position: relative;
    width: 95%;
    max-width: 600px;
    background-image: url('assets/bunny1.jpg');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}*/
.big{
    position: relative;
    width: 95%;
    padding: 2rem;
    max-width: 600px;
    border-radius: 30px;
    z-index: 1;
    overflow: hidden;
  }
  
  .big::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('assets/bunny1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
  }
  
  .big::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #f8a7b4;
    opacity: 0.8; 
    z-index: -2;
  }
  
h1{
    color: #8b2c3d;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;

}
.input {
    display: flex;
    position: relative; 
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 0.5rem;
    align-items: center; 
}

.input input {
    background: #f8a8a0c7;
    flex: 1;
    padding: 0.8rem 1rem; 
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding-right: 4rem; 
}

.input button {
    position: absolute;
    right: 5px; 
    height: 40px; 
    width: 40px; 
    border-radius: 50%; 
    background: rgb(255, 237, 237);
    font-size: 1.5rem;
    color: #f497b6;
    border: none;
    cursor: pointer;
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 2; 
}

.input button .plus {
    font-size: 2rem; 
    line-height: 1; 
}
.input button:hover{
    background: #ff1493;
}
.msg{
    font-size: 0.9rem;
    color: #8b2c3d;
    margin-bottom: 1rem;
    text-align: center;
    margin: auto;
}
.todo-list{
    list-style: none;
    text-align: left;
}
.todo-list li {
    padding: 10px;
    border-radius: 12px;
    margin: 8px 0;
    background: #f8a8a0c7;
    box-shadow:0 4px 8px rgba(255, 192, 203, 0.2);
    color: #8b2c3d;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
   
}

.todo-list .actions {
    display: flex;
    gap: 10px; 
    margin-left: auto; 
}
.todo-list .edit,
.todo-list .delete{ 
    cursor: pointer;
    padding: 5px; 
    font-size: 1.2rem; 
    
}

.bunny{
    display: block;
    margin: 2rem auto 0 auto;
    width: 80px;
   

}
@media (max-width:500px) {
    .input{
        flex-direction: column;
        align-items: stretch; 

    }  
    .input input{
        width: 100%;
        margin-bottom: 0.5rem; 
        padding-right: 1rem; 
    }
    .input button{
        position: static; 
        width:100%;
        height: 50px; 
        border-radius: 12px; 
    }
    .input button .plus {
        font-size: 2rem; 
    }
}